<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    {{{body}}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    if('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('./service-worker.js')
            .then(function(registration) {
                console.log('Service worker registration successful with scope: ', registration.scope);
            }, function(err) {
                console.log('Service Worker registration failed: ', err);
            });
        })
    }   
    document.querySelector('#show').addEventListener('click', () => {
        const iconUrl = document.querySelector('select').selectedOptions[0].value;
        let imgElement = document.createElement('img');
        imgElement.src = iconUrl;
        document.querySelector('#container').appendChild(imgElement);
    });
</script>
</html>