<p>Hello World!!!</p>
    <label for="icons">Icons:</label>
    <select id="icons">
        <option value="pixel.gif?interaction=UserClick&client=ad_media&os_name=macos&x1=google&x2=email&x3=pdfconvert&landing_url=abcd1">Option1</option>
        <option value="pixel.gif?interaction=UserClick&client=ad_media&os_name=macos&x1=google&x2=email&x3=pdfconvert&landing_url=abcd1">Option2</option>
        <option value="pixel.gif?interaction=UserClick&client=ad_media&os_name=window&x1=google&x2=email&x3=pdfconvert&landing_url=abcd1">Option3</option>
        <option value="pixel.gif?interaction=UserClick&client=ad_media&os_name=macos&x1=bing&x2=email&x3=pdfconvert&landing_url=abcd1">Option4</option>
        <option value="pixel.gif?interaction=UserClick&client=ad_media&os_name=macos&x1=yahoo&x2=email&x3=pdfconvert&landing_url=abcd1">Option5</option>
      </select>
      <button id="show">Show Icon</button>
      <div id="container">

      </div>